body {
  margin: 0;
  font-family:    Arial, Helvetica, sans-serif;
  color:#636361 !important;
  font-weight: normal;
  font-size: 1rem;
}
.list-group-item,.card,.modal-header,.modal-footer{
  background-color: transparent !important;border: none;
}
.stickyheader{
 font-size: 16px; 
}

.imagefluid
{
  float: left;
    width: 53px;
    height: 53px;margin:32px 9px 15px 3px;
    border-radius: 100%;
}
.secondarybg,.modal-content{
  padding: 30px 30px;
background-color: #af2397 !important;margin-top: 100px;margin-bottom: 100px;color: #fff;
}
.form-check-label {
  margin-bottom: 0;
  padding: 2px 20px !important;
}

h1{
  font-size: 18px;
}
h2,h3{
  font-size: 16px;
}

.navbaritem{
  color: #7D7D7D;
  font-size: 12px;
  font-weight: 500;padding: 3px 2px;
}
.navbaritemhead{
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  margin: 16px 3px;
  text-decoration: underline;
}
.pad-4{
  padding: 27px 0px 0px 0px;
  color: #a7a3a7;
  text-transform: uppercase;

}
.error{
  color: #080808;
    font-size: 20px;
    text-transform: capitalize;
}

.sednavbar{
  text-transform: uppercase;
  font-size: 13px;cursor: pointer;background-color: #da1515;
  font-weight: normal;padding: 10px !important;
  color: #e2dcdc;margin: 10px 0px;float: right;border-radius :10px;
}
.cardhead{
  font-size: 16px;margin-top: 20px;color: #ffffff;
}
.songtotal{
  color:#c5bfbf;font-size: 10px;
}

.cardsub{
  font-size: 10px;margin-top: 2px;
}
.curpointer
{
  cursor: pointer;
}
.text-right{
  text-align: right;
}
.close
{
  font-size: 23px;
  margin: -1px 7px 0px;
  color: green;
  float: right;
}
.prevnex{
  color: #fff!important;
  font-size: 14px;
  margin:0px 0px 14px 17px;cursor: pointer;
  float: right;
  text-transform: uppercase;
  text-decoration: underline !important;
}

.head{
  color: #ffffff;
  font-size: 21px;text-transform: uppercase;margin-top: 20px;margin-bottom: 0px;
  font-weight: 700;
}

.searchabs{
  position: absolute;
    top: 22px;
    width: 25px;
    bottom: 0px;
    right: 22px
}
.search,.form-control{
 
  border: solid 3px #fff;
  padding: 10px;
  margin-bottom : 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
 }
.searchbut{
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.head1{
  color: #ffffff;
  font-size:17px;text-transform: uppercase;
  font-weight: normal;
}
.modal-content{
  background-color: #fff;
}
.alert{
  margin-bottom: 0px;
}
.cardheads
{
  color: #aba5a5;
    font-weight: 600;
}